<div ng-controller="UsersController as UC" ng-init="PC.index(); UC.index()">
    <h1 class="text-center">ANA'S AMAZING WEBSITE </h1>
    <div ng-repeat="post in PC.posts">
        <div class="row">

            <div class="post col">

                <h4>
                    <a href="#!/posts/{{ post.id }}">{{ post.title }}</a>
                </h4>
                <div class="body">{{ post.body }}</div>
                <div class="text-right">
                    <a href="#!/users/{{ post.userId }}">- {{ UC.filterUserName(post.userId)[0].name }}</a>
                </div>
                <p>status (liked): ??
                    <button class="btn btn-outline-info"> Like </button>
                    <button class="btn btn-info"> Liked! </button>
                </p>

            </div>

        </div>
    </div>
</div>