* {
    word-break: break-word;
}

.post {
    background-color: #eee;
    margin: 2em auto;
    padding: 1em 2em;
    max-width: 36em;
    /* border-bottom: solid black 1px; */
    border-radius: 1em;
}

.comment {
    background-color: #F8F8F8;
    margin: 2em auto;
    padding: 1em 2em;
    max-width: 33em;
    /* border-bottom: solid black 1px; */
    border-radius: 1em;
}

.user {
    background-color: #E8E8E8;
    margin: 2em auto;
    padding: 1em 2em;
    max-width: 39em;
    /* border-bottom: solid black 1px; */
    border-radius: 1em;
}

.body {
    margin: 1em;
    margin-left: 3em;
    margin-right: 2em;
}

.home {
    margin-top: 1em;
    text-align: center;
}

.user-info {
    margin: 1em auto;
}

a, a:link, a:visited, a:active {
    color: #0894bb;
    text-decoration: none;
}

a:hover {
    color: #08c9ff;
    text-decoration: none;
}