* {
    word-break: break-word;
}

body {
    margin: 2em auto;
}

.post {
    background-color: #ddd;
    margin: 2em auto;
    padding: 1em 2em;
    max-width: 36em;
    /* border-bottom: solid black 1px; */
    border-radius: 1em;
}

.comment {
    background-color: #eee;
    margin: 2em auto;
    padding: 1em 2em;
    max-width: 36em;
    /* border-bottom: solid black 1px; */
    border-radius: 1em;
}

.user {
    background-color: #ccc;
    margin: 2em auto;
    padding: 1em 2em;
    max-width: 36em;
    /* border-bottom: solid black 1px; */
    border-radius: 1em;
}

.body {
    margin: 1em;
    margin-left: 3em;
    margin-right: 2em;
}

.home {
    margin-bottom: 1em;
    text-align: center;
}

.user-info {
    margin: 1em auto;
}

.like-button {
    margin-top: 1em;
}

/* editable-value {
    display: block;
    text-align: justify;
    width: 100%
}

editable-value > button {
    margin-right: 0em;
} */

a, a:link, a:visited, a:active {
    color: #17a2b8;
    text-decoration: none;
}

a:hover {
    color: #026977;
    text-decoration: none;
}

input[type="text"] {
    border-radius: 0.2em;
    padding-left: 0.3em;
    border: none;
    max-width: 100%;
}